<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <style>
        .failed {
            color: red;
        }
        .logout {
            color: green;
        }
    </style>
</head>
<body>

<h3>My Custom Login Page</h3>

<form action="#" th:action="@{/authenticateUser}" method="POST">

    <div th:if="${param.error}" class="failed">
        <i>Sorry! You entered invalid username or password.</i>
    </div>

    <div th:if="${param.logout}" class="logout">
        <i>You have been logged out.</i>
    </div>

    <p>
        User Name: <input type="text" name="username" />
    </p>

    <p>
        Password: <input type="password" name="password" />
    </p>

    <input type="submit" value="Login">

</form>

</body>
</html>